<h1>About</h1>
<p>個人倉儲:<a href="https://gitlab.com/40823211/cd2021">https://gitlab.com/40823211/cd2021</a></p>
<p>個人網頁:<a href="https://40823211.gitlab.io/cd2021/content/index.html">https://40823211.gitlab.io/cd2021/content/index.html</a></p>
<p></p>
<p>2~4週組員:40823211、40823216</p>
<p>小組倉儲:<a href="https://github.com/40823211/stage1-bg15">https://gitlab.com/40823211/stage1-bg15</a></p>
<p>小組網頁:<a href="https://40823211.github.io/stage1-bg15/content/index.html" rel="nofollow">https://40823211.gitlab.io/stage1-bg15/content/index.html</a></p>
<p>題目:自動澆花器</p>
<p><img alt="" height="265" src="/images/第三版solidworks模擬.gif" width="367"/></p>
<p>零件下載檔:</p>
<p><a href="/downloads/澆花器第一版.7z">澆花器第一版.7z</a></p>
<p><a href="/downloads/澆花器第二版.7z">澆花器第二版.7z</a></p>
<p><a href="/downloads/澆花器第三版.7z">澆花器第三版.7z</a></p>
<p></p>
<p>5~9週組員:40823211、40823216、40823218、40823238</p>
<p>小組倉儲:<a href="https://github.com/40823211/stage2-bg7">https://gitla</a><a href="https://github.com/40823211/stage2-bg7">b.com/40823211/stage2-bg7</a></p>
<p>小組網頁:<a href="https://40823238.github.io/stage2-bg7/content/index.html">https://40823238.github.io/stage2-bg7/content/index.html</a></p>
<p>題目:發球機</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/AhwFZV0kfcc" title="YouTube video player" width="560"></iframe></p>
<p></p>
<p>10~18週組員:40823211、40823214、40823216、40823218、40823225、40823238、40823247、40823248</p><h1>每週進度</h1>
<p>每週作業、成品</p>
<h2>W1</h2>
<p>創倉儲、網頁</p>
<p>使用黑窗下載以下7個檔案</p>
<p>pip install flask、pip install flask_cors、pip install lxml、pip install bs4、pip install markdown、pip install pelican、pip install leo</p>
<p>並更改網頁標題名稱</p>
<p><img alt="" height="173" src="/images/更改網頁標題.png" width="560"/></p>
<p>第一週影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/FDEJ83fsOEw" width="560"></iframe></p>
<h3>leo</h3>
<p>使用黑窗開啟leo</p>
<p><img alt="" height="219" src="/images/開leo.png" width="419"/></p>
<p>在leo選取File→Open-Outline</p>
<p><img alt="" height="329" src="/images/Screenshot_7.png" width="416"/></p>
<p>開啟檔案→pelican.leo</p>
<p><img alt="" height="269" src="/images/Screenshot_8.png" width="428"/></p>
<p>更改leo內部資料</p>
<p><img alt="" height="334" src="/images/Screenshot_9.png" width="420"/></p>
<p></p>
<p><img alt="" height="333" src="/images/Screenshot_10.png" width="420"/></p>
<p></p>
<p><img alt="" height="332" src="/images/Screenshot_12.png" width="418"/></p>
<p></p>
<p><img alt="" height="333" src="/images/Screenshot_11.png" width="416"/></p>
<h2>W2</h2>
<p>決定小組題目</p>
<p><img alt="" height="148" src="/images/程式題目.png" width="442"/></p>
<p>繪製零件</p>
<p>澆花器圖檔(第一版)</p>
<p><img alt="" height="200" src="/images/澆花器.png" width="373"/></p>
<p>剖面圖</p>
<p> <img alt="" height="200" src="/images/澆花器剖面.png" width="373"/></p>
<p>澆水器底部增加卡榫</p>
<p><img alt="" height="202" src="/images/澆水器底部.png" width="377"/></p>
<p>澆花器底座</p>
<p><img alt="" height="202" src="/images/澆花器底座.png" width="377"/></p>
<p>澆花器蓋子</p>
<p><img alt="" height="201" src="/images/澆花器蓋子.png" width="374"/></p>
<p>支撐架</p>
<p><img alt="" height="200" src="/images/支撐架.png" width="372"/></p>
<p><span>Ø</span>2×10銷</p>
<p><img alt="" height="199" src="/images/10mm銷.png" width="371"/></p>
<p>為了配合繩子，在本體加了一個環</p>
<p><img alt="" height="199" src="/images/Screenshot_1.png" width="370"/> </p>
<p><img alt="" height="235" src="/images/Screenshot_15.png" width="371"/></p>
<p>組合圖</p>
<p><img alt="" height="199" src="/images/Screenshot_16.png" width="371"/></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/Xf1xstB_LZM" width="560"></iframe></p>
<h3>繪製草圖</h3>
<p><img alt="" height="253" src="/images/151719.jpg" width="449"/></p>
<p>當第一版(右半邊)設計完並將立體圖也畫出來時，才發現無法模擬因此又設計了第二版(左半邊)</p>
<h2>W3</h2>
<p>澆花器改版(第二版)</p>
<p>因為最後決定以圓盤曲柄傳動，所以將扣環移除</p>
<p><img alt="" height="225" src="/images/本體1.png" width="419"/></p>
<p><img alt="" height="225" src="/images/本體2.png" width="419"/></p>
<p><img alt="" height="225" src="/images/本體3.png" width="418"/></p>
<p>本體剖面圖</p>
<p><img alt="" height="225" src="/images/本體剖面圖.png" width="419"/></p>
<p>將澆花器底部與管子完美接合以利於把水倒乾淨，避免澆花器內部殘留水</p>
<p>------------------------------------------------------------------------------------</p>
<p>蓋子的部分沒有更動</p>
<p><img alt="" height="225" src="/images/蓋子1.png" width="418"/></p>
<p><img alt="" height="225" src="/images/蓋子2.png" width="419"/></p>
<p>------------------------------------------------------------------------------------</p>
<p>連接澆花器本體的底座</p>
<p><img alt="" height="224" src="/images/底部.png" width="418"/></p>
<p>底座除了有接合澆花器的功能，還兼具了搖桿的功能</p>
<p>-------------------------------------------------------------------------------------</p>
<p>支撐架</p>
<p><img alt="" height="225" src="/images/支架.png" width="418"/></p>
<p>具有連桿的功能</p>
<p>--------------------------------------------------------------------------------------</p>
<p><span>Ø</span>2×5mm的銷</p>
<p><img alt="" height="225" src="/images/5mm銷.png" width="419"/></p>
<p>--------------------------------------------------------------------------------------</p>
<p><span>Ø2×6mm的銷</span></p>
<p><span><img alt="" height="225" src="/images/6mm銷.png" width="418"/></span></p>
<p>--------------------------------------------------------------------------------------</p>
<p><span>Ø2×8mm的銷</span></p>
<p><span><img alt="" height="225" src="/images/8mm銷.png" width="419"/></span></p>
<p><span>--------------------------------------------------------------------------------------</span></p>
<p><span>第二版組合圖</span></p>
<p><span><img alt="" height="224" src="/images/組合圖.png" width="418"/></span></p>
<p><span><img alt="" height="224" src="/images/組合圖右側視圖.png" width="418"/></span></p>
<p><span>---------------------------------------------------------------------------------------</span></p>
<p><span>第一次模擬</span></p>
<p><span><img alt="" height="224" src="/images/2021-03-17_23-22-24.gif" width="418"/></span></p>
<p><span>CoppeliaSim模擬失敗，因此使用solidworks代替模擬</span></p>
<p><span><img alt="" height="251" src="/images/solidworks第二版模擬.gif" width="418"/></span></p>
<p><span><img alt="" height="291" src="/images/solidworks第二版模擬2.gif" width="418"/></span></p>
<p><span><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/tXlMcr96O9o" width="560"></iframe></span></p>
<h3>第三版(模擬成功)</h3>
<p><img alt="" height="234" src="/images/2021-03-17_23-22-24.gif" width="436"/></p>
<p>這是第二版的模擬，懷疑是因為本體的不對稱才導致澆花器本體飛出去</p>
<p>因此在第三版左右都加上了圓盤，避免因為不對稱造成零件脫落</p>
<p><img alt="" height="234" src="/images/第三版模擬.gif" width="436"/></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/nL4geEJBX1A" width="560"></iframe></p>
<p>---------------------------------------------------------------------------------------------</p>
<h4><strong>第二版與第三版的比較圖:</strong></h4>
<p><img alt="" height="234" src="/images/Screenshot_19.png" width="436"/></p>
<p>                                              (第三版)</p>
<p><img alt="" height="234" src="/images/Screenshot_20.png" width="435"/></p>
<p>                                               (第二版)</p>
<p><img alt="" height="253" src="/images/Screenshot_21.png" width="434"/></p>
<p>                                           (第三版上視圖)</p>
<p><img alt="" height="257" src="/images/Screenshot_22.png" width="432"/></p>
<p>                                           (第二版上視圖)</p>
<h2>W4</h2>
<h4>小組上台報告</h4>
<p><br/><br/><br/><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/nSpiAoe5qsw" width="560"></iframe></p>
<h3>ssh</h3>
<p>開啟ssh的過程</p>
<p><img alt="" height="201" src="/images/ssh-1.png" width="382"/></p>
<p><img alt="" height="198" src="/images/ssh-2.png" width="381"/></p>
<p><img alt="" height="492" src="/images/ssh-3.png" width="379"/></p>
<p><img alt="" height="493" src="/images/ssh-4.png" width="377"/></p>
<p><img alt="" height="337" src="/images/ssh-5.png" width="374"/></p>
<p><img alt="" height="177" src="/images/ssh-6.png" width="377"/></p>
<h2>W6</h2>
<p>題目:發球機</p>
<p>參考影片:</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/BvtH5aN90ac" title="YouTube video player" width="560"></iframe></p>
<p></p>
<p>由於模擬時無法加入摩擦力，因此考慮用急回機構相關的構造</p>
<p>利用反向的概念，改成急去機構，以利用來發球</p>
<p></p>
<p>設計發球機</p>
<h3>小組討論</h3>
<p><img alt="" height="209" src="/images/討論1.png" width="448"/></p>
<p><img alt="" height="209" src="/images/討論2.png" width="447"/></p>
<h2>W7</h2>
<p>主體(第一版)</p>
<p><img alt="" height="324" src="/images/主體.png" width="425"/></p>
<p>第一版發球機</p>
<p><a href="/downloads/發球機.7z">零件下載檔</a></p>
<p><img alt="" height="414" src="/images/發球機組合件2.png" width="423"/></p>
<h3>零件</h3>
<p>主體(第二版)</p>
<p><img alt="" height="349" src="/images/主體第二版.png" width="425"/></p>
<p></p>
<p>圓盤</p>
<p><img alt="" height="246" src="/images/圓盤1.png" width="426"/></p>
<p><img alt="" height="284" src="/images/圓盤2.png" width="426"/></p>
<p>滾輪x2</p>
<p><img alt="" height="318" src="/images/滾輪.png" width="427"/></p>
<p>8mm銷x2</p>
<p><img alt="" height="294" src="/images/滾輪8mm銷.png" width="427"/></p>
<p>第二版加上的漏斗雛形</p>
<p><img alt="" height="314" src="/images/漏斗雛形.png" width="427"/></p>
<p>發球機組合圖</p>
<p><img alt="" height="421" src="/images/發球機組合件2.png" width="429"/></p>
<h3>模擬</h3>
<p>第一次模擬(無球)</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/BLFhSflxA-4" title="YouTube video player" width="560"></iframe></p>
<h2>W8</h2>
<p>第二次改版</p>
<p><a href="/downloads/第二版.7z">零件下載檔</a></p>
<p><img alt="" height="346" src="/images/組合圖第二版.png" width="339"/></p>
<p><img alt="" height="300" src="/images/組合圖第二版剖面.png" width="338"/></p>
<p>第三次改版</p>
<p><a href="/downloads/第三版.7z">零件下載檔</a></p>
<p><img alt="" height="318" src="/images/第三版組合圖.png" width="340"/></p>
<p><img alt="" height="378" src="/images/第三版剖面.png" width="338"/></p>
<p></p>
<h3>解決問題</h3>
<p>因為有卡球的問題，因此再改版，增加了為有卡球的問題，因此再改版，增加了導管維持發球的穩定性</p>
<p>導管</p>
<p><img alt="" height="344" src="/images/第三版導管1.png" width="246"/> <img alt="" height="343" src="/images/第三版導管2.png" width="234"/></p>
<p>原來的漏斗在兩顆球同時入洞時會卡住，因此改成管狀的形狀</p>
<p><img alt="" height="359" src="/images/tube1.png" width="245"/> <img alt="" height="359" src="/images/tube2.png" width="243"/></p>
<h2>W9</h2>
<p>上台報告影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/bLkuxNpzPYw" title="YouTube video player" width="560"></iframe></p>
<h2>W10</h2>
<p>小組討論主題: 機械手臂</p>
<h2>W11</h2>
<p>小組工作分配</p>
<h2>W12</h2>
<p>編輯小組網頁</p>
<h2>W17</h2>
<p>機械手臂模擬</p>
<p><a href="https://www.youtube.com/watch?v=0UhmCFoplVE">https://www.youtube.com/watch?v=0UhmCFoplVE</a></p>
<p>用python執行</p>
<p><a href="https://www.youtube.com/watch?v=bMj6PFdSqaY">https://www.youtube.com/watch?v=bMj6PFdSqaY</a></p>
<p><a href="/downloads/期末.7z">下載檔</a></p>
<h2>W18</h2>
<p>期末影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/OeU9mf_YHrg" title="YouTube video player" width="560"></iframe></p><h1>W5</h1>
<p>甲班上台報告時間</p>
<p><iframe height="600" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ6YXiXIAWRakwmmRrtSF7nDHVwXcrhdVz_Tx8pZ11ktHNc9_G4ELrXaNplIVRAhrvB4pqnetBTbVSH/pubhtml?widget=true&amp;headers=false" width="400"></iframe></p>
<h1>遇到問題</h1>
<h2>github帳號不明原因被鎖</h2>
<p><img alt="" height="264" src="/images/github遇到問題.png" width="563"/></p>
<p>解決辦法:gitlab暫時代替</p>
<p>到期末了也寫了很多次信到github，但問題依然沒有解決</p>
<h2>gitlab可以推github不行</h2>
<p><img alt="" height="268" src="/images/github推不上去.png" width="441"/></p>
<p>與同學討論後，決定試試git pull</p>
<p><img alt="" height="459" src="/images/git pull 解決問題.png" width="441"/></p>
<p>問題解決</p>
<p>但後續換成github可以推，gitlab不能推</p>
<p>因此決定兩邊都clone下來，分開來推</p>
<h2>隨身碟壞掉</h2>
<p>將UBS格式化後問題依然存在，因此將檔案clone到電腦C槽</p>
<h2>github、gitlab的commit次數不同</h2>
<p>因為之前仍然有推不上去的問題只有單邊推成功，因此造成兩邊commit次數不同，因此將兩邊的倉儲都clone下來，兩邊分開來推</p>
<h2>檔案無法儲存</h2>
<p><img alt="" height="344" src="/images/編輯網頁要按save.png" width="370"/></p>
<p>編輯完後按save跳出以下東西</p>
<p><img alt="" height="121" src="/images/編輯網頁儲存遇到問題.png" width="345"/></p>
<p>後來放棄儲存，之後再重新編輯就恢復正常了</p><h1>筆記</h1>
<p>.git config為gitlab而改</p>
<p><img alt="" height="637" src="/images/gitlab .gitconfig更改內容.png" width="486"/></p><h1>上傳頻率</h1>
<p>這是我原本的上傳頻率，但在倉儲被鎖後遇到許多阻礙，甚至出現USB損壞的狀況，也影響我上傳的進度</p>
<p><img alt="" height="263" src="/images/github倉儲被鎖前推的頻率.png" width="363"/></p>
<p>原本的github倉儲現在是被鎖的狀態，雖然已經寄了多封郵件，但問題仍然沒有解決，因此截圖放置此處</p>
<p><img alt="" height="168" src="/images/github上傳次數.png" width="330"/></p>
<p><img alt="" height="210" src="/images/gitlab上傳次數.png" width="365"/></p>
<p>以上是這學期的推送次數</p>